@import "tailwindcss";

@theme {
  /* Typography - Heading */
  --text-heading-3: 1.5rem;
  --text-heading-3--line-height: calc(1.75 / 1.5);

  /* Typography - Body */
  --text-body-base: 1rem;
  --text-body-base--line-height: calc(1.5 / 1);
  --text-body-small: 0.875rem;
  --text-body-small--line-height: calc(1.25 / 0.875);
  --text-body-xsmall: 0.75rem;
  --text-body-xsmall--line-height: calc(1.125 / 0.75);

  /* Typography - Label */
  --text-label-small: 0.875rem;
  --text-label-small--line-height: calc(0.875 / 1.125);

  /*  Colors */
  --color-brand-bg: rgba(181, 255, 77, 1);
  --color-brand-content: rgba(181, 255, 77, 1);
  --color-bg-main: rgba(3, 3, 3, 1);
  --color-bg-secondary-dark: rgba(18, 18, 18, 1);
  --color-bg-secondary: rgba(23, 23, 23, 1);
  --color-bg-alpha-subtle: rgba(255, 255, 255, 0.1);
  --color-bg-alpha-normal: rgba(255, 255, 255, 0.15);
  --color-content-subdued: rgba(157, 157, 149, 1);
  --color-content-normal: rgba(204, 204, 197, 1);
  --color-alert-content: rgba(255, 173, 51, 1);
}

@theme inline {
  --font-volk-sans-test: var(--font-volk-sans-test);
  --font-tactic-sans: var(--font-tactic-sans);
  --font-sans: var(--font-volk-sans-test), sans-serif;
}
